.card_depoimento {
    width: 100%;
    max-width: 38.4rem;
    height: 209px;
    background-color: hsla(252, 20%, 95%, 0.55);
    border-radius: 8px;
    padding: 3.7rem 3.2rem 2.3rem 3.2rem;

    .user {
        @include flex(row, center, space-between);
        margin-bottom: 2.1rem;
        
        strong {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 112%;
            letter-spacing: -1px;
            color: $gray-500;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 150%;
        color: $gray-400;
    }
}